<html>
    <head>
        <title>Course</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" content="text/css" href="../static/course.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >    
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 form-box text-center">
                <div class="bs-example" >
        <div class="card" style="width: 300px;">
            <img src="../static/images/farm.jpg" class="card-img-top" alt="...">
            <div class="card-body text-center">
                <h3 class="card-title">Farming</h3>
               <h5>Chapters: 2</h5>
                <a href="course.html" class="btn btn-primary stretched-link">View Content</a>
            </div>
        </div>
    </div> 
    </div>
                </div>
        </div>
        
    </body>

</html>