<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" content="text/css" href="../static/register.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >    
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7  col-md-7 form-container">
                    <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                        <div class="logo mb-3  mt-3">
                            <img src="../static/images/Logo.png" width="100px" >
                        </div>
                        <div class="heading mb-3">
                            <h4>Create your account</h4>
                        </div>
                        <form >
                            <div class="form-input">
                                <span><i class="fa fa-user-circle"></i> </span>
                                <input type="text" placeholder="Student ID" required>
                            </div>
                            <div class="form-input">
                                <span><i class="fa fa-id-card"></i> </span>
                                <input type="text" placeholder="Mobile Number" required>
                            </div>
                            <div class="form-input">
                                <span><i class="fa fa-envelope" aria-hidden="true"></i> </span>
                                <input type="email" placeholder="email" required>
                            </div>
                            <div class="form-input">
                                <span><i class="fa fa-university" aria-hidden="true"></i> </span>
                                <input type="text" placeholder="School name" required>
                            </div>
                            <div class="form-input">
                               <!-- <label>Class</label>
                                    <select name="class" placeholder="Class" required>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>-->
                                <span><i class="fa fa-users" aria-hidden="true"></i> </span>
                                <input type="text" placeholder="class" required>
                            </div>
                            <div class="form-input">
                                <span><i class="fa fa-lock"></i> </span>
                                <input type="password" placeholder="Create Password" required>
                            </div>
                               <div class="text-left mb-3">
                                   <button type="submit" class="btn">Register</button>
                               </div>
                               
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 d-none d-md-block image-container">
                    
            </div>
        </div>
        
    </body>

</html>