<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../static/teacher-dashboard.css" rel="stylesheet">
  <link href="../static/course.css" rel="stylesheet">
  <link href="../static/student.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >    
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>


<nav class="navbar navbar-expand-sm   navbar-dark  bg-dark">
  <a class="navbar-brand" href="#"><img src="../static/images/Logo.png" class="logo"/>Lend a Hand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="course.html">Video Download</a>
      </li>
               
    </ul>
  </div>  
  <div class="navbar-nav ml-auto">
      <a href="logout.html" class="nav-item nav-link">Logout</a>
</div>
</nav>
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>Student Dashboard</h1>
  <h3>Class X</h3>
  
</div>

<div class="container" style="margin-top:30px">
    <h2>Courses</h2>
    <div class="row">
        <div class="col-sm-4">
            <div class="bs-example" >
                <div class="card" style="width: 300px;">
                    <img src="../static/images/farm.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Farming</h3>
                       <h5>Chapters: 2</h5>
                        <a href="course.html" class="btn btn-primary stretched-link">View Content</a>
                        <a href="course.html" class="btn btn-primary stretched-link">Download</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="bs-example" >
                <div class="card" style="width: 300px;">
                    <img src="../static/images/farm.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Farming</h3>
                       <h5>Chapters: 2</h5>
                        <a href="course.html" class="btn btn-primary stretched-link">View Content</a>
                        <a href="course.html" class="btn btn-primary stretched-link">Download</a>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-sm-4">
            <div class="bs-example" >
                <div class="card" style="width: 300px;">
                    <img src="../static/images/farm.jpg" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Farming</h3>
                       <h5>Chapters: 2</h5>
                        <a href="course.html" class="btn btn-primary stretched-link">View Content</a>
                        <a href="course.html" class="btn btn-primary stretched-link">Download</a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
    
    
     


</body>
</html>
